
<section id="addThingType" class="container-fluid">
  <ul class="breadcrumb">
    <li><a ui-sref="root.superAdmin()">Home</a></li>
    <li><a ui-sref="root.superAdmin.things()">Gestione Oggetti</a></li>
    <li class="active">Nuova tipolgia di oggetto</li>
  </ul>
  <h1 class="text-center page-header">Aggiungi un nuovo tipo di oggetto</h1>
  <div class="row ">
    <form ng-submit="addThingType()" name="myForm" class="col-xs-6 col-xs-offset-3">
      <label for="thingTypeInput">Nome della tipologia            </label>
      <input type="text" id="thingTypeInput" ng-model="newThingType.thingTypeName" placeholder="nome" class="form-control"/><br/>
      <label>Company di appartenza</label>
      <button ng-click="addItem('Company')" class="btn">Aggiungi Company                </button>
      <div ng-repeat="company in newThingType.company track by $index">                  
        <select ng-model="newThingType.company[$index]" required="" class="form-control">
          <option ng-repeat="company in companies" value="{{company.companyID}}">{{company.companyName}}</option>
        </select>
        <button ng-click="removeItem('Company',$index)">Rimuovi  </button>
      </div><br/>
      <label>Parametri tipo Intero    </label>
      <button ng-click="addItem('Double')" class="btn">Aggiungi Double               </button>
      <div ng-repeat="intInput in newThingType.listDoubleValue track by $index">
        <label for="int$index">Nome parametro # {{$index}}</label>
        <input tipe="text" ng-model="newThingType.listDoubleValue[$index]" required=""/>
        <button ng-click="removeItem('Double',$index)">Rimuovi</button>
      </div><br/>
      <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">Aggiungi</button>
    </form>
  </div>
</section>