
<section id="updateThingType" class="container-fluid">
  <ul class="breadcrumb">
    <li><a ui-sref="root.superAdmin()">Home</a></li>
    <li><a ui-sref="root.superAdmin.things()">Gestione Oggetti</a></li>
    <li class="active">Modifica un oggetto</li>
  </ul>
  <h1 class="text-center page-header">Modifica un oggetto</h1>
  <div class="row ">
    <form ng-submit="updateThing()" name="myForm" class="col-xs-6 col-xs-offset-3">
      <label for="thingNameInput">Nome dell'oggetto            </label>
      <input type="text" id="thingNameInput" ng-model="thing.name" placeholder="nome" value="{{thing.name}}" class="form-control"/><br/>
      <label for="thingSerialInput">Numero di serie dell'oggetto            </label>
      <input type="text" id="thingSerialInput" ng-model="thing.serialNumber" placeholder="numero di serie" value="{{thing.serialNumber}}" class="form-control"/><br/>
      <label for="thingDescriptionInput">Descrizione dell'oggetto            </label>
      <textarea type="text" id="thingDescriptionInput" ng-model="thing.description" placeholder="descrizione" value="{{thing.description}}" class="form-control"></textarea><br/>
      <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-success">Modifica</button>
    </form>
  </div>
</section>