section(id="superAdminHome")
  ul(class="breadcrumb")
    li(class="active") Home
  h1(class="page-header text-center") Home page
  div(class="container-fluid")
    div(class="row text-center")
      div(class="col-sm-6")
        h2 
          a(ui-sref="root.superAdmin.companies()") Gestione Companies
      div(class="col-sm-6")
        h2 
          a(ui-sref="root.superAdmin.users()") Gestione Utenti
      div(class="col-sm-6")
        h2 
          a(ui-sref="root.superAdmin.things()") Gestione Oggetti
      div(class="col-sm-6")
        h2 
          a(ui-sref="root.superAdmin.engine()") Gestione Engine
