section(id="userHome" class="container-fluid")
  ul(class="breadcrumb")
    li(class="active") Home
  h1(class="page-header text-center") Home page User
  div(class="row text-center")
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.user.thingTypes()") Gestione Modelli Oggetti
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.user.things()") Gestione Oggetti
