
<section id="updateAccountPassword">
  <ul class="breadcrumb">
    <li><a ui-sref="root()">Home</a></li>
    <li><a ui-sref="root.account()">Modifica Profilo</a></li>
    <li class="active">Modifica Password </li>
  </ul>
  <h1 class="text-center page-header">Modifica la tua password</h1>
  <div class="container-fluid">
    <div class="row">   
      <h2>{{errore}}</h2>
      <form ng-submit="editPsw()" class="col-sm-6 col-sm-offset-3">
        <label for="userNewPassInput">Nuova password     </label>
        <input type="password" id="userNewPassInput" ng-model="newPassword.newPassword" placeholder="Nuova password" class="form-control"/><br/>
        <label for="userConfPassInput">Conferma password     </label>
        <input type="password" id="userConfPassInput" ng-model="newPasswordTwo.newPassword" placeholder="Conferma password" class="form-control"/><br/>
        <button type="submit" class="btn btn-success">Modifica</button>
      </form>
    </div>
  </div>
</section>