section(id="companiesList" class="container-fluid")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.superAdmin()") Home
    li
      a(ui-sref="root.superAdmin.engine()") Gestione Engine
    li(class="active") Gestione Funzioni
  h1(class="page-header text-center") Gestione Funzioni
  div(class="row")
    div(class="col-xs-6 col-xs-offset-3 text-center") 
      h2 Scegli una Company 
      label(for="CompanyInput" ) Company selezionata                 
      select( class="form-control" id="CompanyInput" ng-model="selected")
        option(ng-repeat="company in companies"  value="{{$index}}") {{company.companyName}}
  div(class="row")
    div(class="col-sm-6 text-center") 
      h2 Funzioni Disponibili 
      div(ng-repeat=" fun in infoC[selected].functions track by $index")
        span {{fun.name}}
          input(type="checkbox" ng-model="fun.inUse") 
  form(ng-submit="send()")
    button(class="btn btn-success" type="submit") manda
