
<section id="companies">
  <ul class="breadcrumb">
    <li><a ui-sref="root.superAdmin()">Home</a></li>
    <li><a ui-sref="root.superAdmin.companies()">Gestione Companies</a></li>
    <li class="active">Nuova company</li>
  </ul>
  <h1 class="page-header text-center">Inserisci una nuova compagnia</h1>
  <div class="container-fluid">
    <div class="row">
      <form ng-submit="addCompany()" class="col-xs-6 col-xs-offset-3">
        <label for="companyName">Nome Company     </label>
        <input type="text" id="companyName" ng-model="company.companyName" placeholder="nome company" class="form-control"/><br/>
        <label for="companyBusinessName">Company Business name      </label>
        <input type="text" id="companyBusinessName" ng-model="company.companyBusinessName" placeholder="Company Business name" class="form-control"/><br/>
        <label for="companyAddress">Indirizzo Company      </label>
        <input type="text" id="companyAddress" ng-model="company.companyAddress" placeholder="Indirizzo Company" class="form-control"/><br/>
        <label for="companyCity">Città   </label>
        <input type="text" id="companyCity" ng-model="company.companyCity" placeholder="Città" class="form-control"/><br/>
        <label for="companyCAP">CAP      </label>
        <input type="text" id="companyCAP" ng-model="company.companyCAP" placeholder="CAP" class="form-control"/><br/>
        <label for="companyPIVA">PIVA   </label>
        <input type="text" id="companyPIVA" ng-model="company.companyPIVA" placeholder="PIVA" class="form-control"/><br/>
        <label for="companyDescription">Descrizione      </label>
        <input type="text" id="companyDescription" ng-model="company.companyDescription" placeholder="Descrizione" class="form-control"/><br/>
        <label for="companyLicenseExpiration">Scadenza licenza      </label>
        <input type="text" id="companyLicenseExpiration" ng-model="company.companyLicenseExpiration" placeholder="Scadenza licenza" class="form-control"/><br/>
        <button type="submit" class="btn btn-success">Aggiungi</button>
      </form>
    </div>
  </div>
</section>