<section id="updateCompany">
  <ul class="breadcrumb">
    <li><a ui-sref="root.superAdmin()">Home</a></li>
    <li><a ui-sref="root.superAdmin.companies()">Gestione Companies</a></li>
    <li class="active">Modifica company</li>
  </ul>
  <h1 class="page-header text-center">Modifica di una company</h1>
  <div class="container-fluid">
    <div class="row">
      <form ng-submit="editCompany()" class="col-xs-6 col-xs-offset-3">
        <label for="companyNameInput">Nome della company</label>
        <input type="text" id="companyNameInput" ng-model="company.companyName" placeholder="company name" value="{{company.companyName}}" class="form-control"/><br/>



        <label for="companyBusinessName">Business name    </label>
        <input type="text" id="companyBusinessName" ng-model="company.companyBusinessName" placeholder="nome company" class="form-control" value="{{company.companyBusinessName}}" /><br/>

        <label for="companyAddress">Indirizzo    </label>
        <input type="text" id="companyAddress" ng-model="company.companyAddress" placeholder="indirizzo company" class="form-control" value="{{company.companyAddress}}"/><br/>

        <label for="companyCity">Città      </label>
        <input type="text" id="companyCity" ng-model="company.companyCity" placeholder="città" class="form-control" value="{{company.companyCity}}"/><br/>

        <label for="companyCAP">CAP      </label>
        <input type="text" id="companyCAP" ng-model="company.companyCAP" placeholder="CAP" class="form-control" value="{{company.companyCAP}}"/><br/>

        <label for="companyPIVA">PIVA  </label>
        <input type="text" id="companyPIVA" ng-model="company.companyPIVA" placeholder="company name" class="form-control" value="{{company.companyPIVA}}"/><br/>

        <label for="companyDescription">Descrizione     </label>
        <input type="text" id="companyDescription" ng-model="company.companyDescription" placeholder="descrione company" class="form-control" value="{{company.companyDescription}}"/><br/>

        <label for="companyLicenseExpiration">Scadenza licenza     </label>
<input type="text" id="companyLicenseExpiration" ng-model="company.companyLicenseExpiration" placeholder="company name" class="form-control" value="{{company.companyLicenseExpiration | date:\"MM/dd/yyyy\" }}"/><br/>
        <label for="companyName">Nome della company      </label>
        <input type="text" id="companyName" ng-model="company.companyName" placeholder="company name" class="form-control" value="{{company.companyName}}"/><br/>

        <button type="submit" class="btn btn-success">Modifica</button>
      </form>
    </div>
  </div>
</section>
