
<section id="updateUserPassword">
  <ul class="breadcrumb">
    <li><a ui-sref="root.superAdmin()">Home</a></li>
    <li><a ui-sref="root.superAdmin.users()">Gestione Utenti</a></li>
    <li><a ui-sref="root.superAdmin.updateUser(user.userID)">Modifica profilo utente</a></li>
    <li class="active">Modifica Password Utente</li>
  </ul>
  <h1 class="text-center page-header">Modifica la password di un utente    </h1>
  <div class="container-fluid">
    <div class="row">   
      <h2>{{errore}}</h2>
      <form ng-submit="editPsw()" class="col-sm-6 col-sm-offset-3">
        <label for="userNewPassInput">Nuova password     </label>
        <input type="password" id="userNewPassInput" ng-model="newPasswordOne" placeholder="Nuova password" class="form-control"/><br/>
        <label for="userConfPassInput">Conferma password     </label>
        <input type="password" id="userConfPassInput" ng-model="newPasswordTwo" placeholder="Conferma password" class="form-control"/><br/>
        <button type="submit" class="btn btn-success">Modifica</button>
      </form>
    </div>
  </div>
</section>