section(id="analisi" class="container-fluid" )
  ul(class="breadcrumb")
    li
      a(ui-sref="root.admin()") Home
    li(class="active") Analisi Predittiva
  h1(class="text-center page-header") Configura un'analisi predittiva
  div(class="row")
    div(class="col-sm-4")
      h2 Funzioni Disponibili
      div(ng-repeat=" item in functions track by $index")
        span( data-jqyoui-options="{revert: 'invalid', cursor: 'move'}" data-drag="true" jqyoui-draggable="{placeholder:'keep'}" ng-model="functions") {{item.functionName}}
        br
    div(class="col-sm-4")
      h2 Grafici Disponibili
      div(ng-repeat=" item in charts track by $index")
        span(ng-if="!item.selected" data-jqyoui-options="{revert: 'invalid'}" data-drag="true" jqyoui-draggable="{placeholder:'keep'}" ng-model="item") {{item.chartName}}
        br
  div(class="row")
    div(class="col-sm-4")
      div(data-drop="true" data-jqyoui-options jqyoui-droppable="{multiple: false}"  style='height:50px; border: 1px solid red;' ng-model="final.fun") {{final.fun.functionName}}
    div(class="col-sm-4")
      div(data-drop="true" data-jqyoui-options jqyoui-droppable="{multiple: false}"  style='height:50px; border: 1px solid red;' ng-model="final.chart") {{final.chart.chartName}}
        div(ng-repeat=" item in final.chart track by $index")
          span( data-jqyoui-options="{revert: true}" data-drag="true" jqyoui-draggable="{placeholder:'keep', onDrop: test(item.chartId)}" ng-model="item") {{item.chartName}}
  button.btn.btn-success(ng-click="test()") stampa
