section(id="recuperoPsw")
ul(class="breadcrumb")
  li(class="active") Recupero Password
h1(class="page-header text-center") Recupero Password
h2 Inserisci la tua mail e ti verrà inviata la nuova password.
div(class="container-fluid")
  div(class="row")
  form(ng-submit="resetRequest()" class="col-xs-6 col-xs-offset-3")
    label(for="emailInput") Indirizzo email
    input(type="text" id="emailInput" class="form-control" ng-model="credentials.email" placeholder="email")
    br
    button(type='submit' class="btn btn-success") Invia richiesta
  a(ui-sref="root") Torna al login
