
<section id="thingsDetails" class="container-fluid">
  <ul class="breadcrumb">
    <li><a ui-sref="root.admin()">Home</a></li>
    <li><a ui-sref="root.admin.things()">Gestione Oggetti</a></li>
    <li class="active">Dettagli Oggetto</li>
  </ul>
  <h1 class="text-center page-header">Dettagli dell'oggetto<small># {{thing.thingID}}</small></h1>
  <h2 class="text-center">{{thing.name}}</h2>
  <div class="row">
    <div class="col-xs-12">
      <input ng-model="searchThingTypes.$" placeholder="cerca con qualsiasi valore" class="form-control"/>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">      
      <thead>
        <th> <a ng-click="order('')" class="btn"> <strong> Data rilevazione      </strong></a></th>
        <th> <a ng-click="order('')" class="btn"> <strong> Nome parametro      </strong></a></th>
        <th> <a ng-click="order('')" class="btn"> <strong>Valore  </strong></a></th>
      </thead>
      <tbody>
        <tr ng-repeat="x in thing.datas |  orderBy:predicate:reverse | filter:searchThingTypes:strict track by $index ">
          <td>{{x.dataTime  | date:"MM/dd/yyyy"}}</td>
          <td>
            <p ng-repeat=" i in x.sensors"><span ng-show="hashMisure[i.sensor]">{{i.sensor}} </span><br/></p>
          </td>
          <td>
            <p ng-repeat=" i in x.sensors"><span ng-show="hashMisure[i.sensor]">{{i.value}} </span><br/></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Grafici</h2>
    </div>
    <div class="col-sm-12 text-center">
      <p ng-show="loading">Caricamento ...    </p>
    </div>
    <div class="col-sm-12 text-center">
      <button ng-click="showGraphics()" class="btn btn-success">Mostra grafici  </button>
    </div>
    <div ng-repeat="g in graphics" class="col-md-4">
      <h4>Funzione: {{g.function}}</h4>
      <h4>Parametro: {{g.param}}</h4>
      <canvas id="line" chart-data="g.data" chart-labels="g.labels" chart-legend="true" chart-series="series" chart-click="onClick" class="chart chart-line"></canvas>
    </div>
  </div>
</section>