section(id="thingsList" class="container-fluid" )
  ul(class="breadcrumb")
    li
      a(ui-sref="root.superAdmin()") Home
    li(class="active") Gestione Oggetti
  h1(class="text-center page-header") Lista dei tipi di oggetto presenti
  div(class="row")
    div(class="col-xs-4 col-xs-offset-1")
      button(class="btn btn-success" ui-sref="root.superAdmin.addThingsType()") Nuovo
  div(class="row")
    div(class="col-xs-12")
      input(class="form-control" ng-model="searchThingTypes.$" placeholder="cerca con qualsiasi valore")
  div(class="table-responsive")
    table(class="table")
      thead
        th 
          a(class="btn" ng-click="order('thingTypeID')") 
            strong ID 
        th 
          a(class="btn" ng-click="order('thingTypeName')") 
            strong Nome        
        th 
          a(class="btn" ng-click="order('company')") 
            strong Companies        
        th 
          a(class="btn" ng-click="order('doubleValue')") 
            strong Parametri Double       
        th Azioni        
        
      tbody
        tr(ng-repeat="thingType in thingTypes |  orderBy:predicate:reverse | filter:searchThingTypes:strict track by $index ")
          td {{thingType.thingTypeID}}
          td {{thingType.thingTypeName}}
          td 
            ul
              li(ng-repeat="c in thingType.companyID") {{companiesHash[c]}}
          td
            ul
              li(ng-repeat="p in thingType.doubleValue.infos") 
                span(ng-show="p.visible") {{p.name}} 
          td 
            button(class="btn btn-warning" ui-sref="root.superAdmin.updateThingType({id:thingType.thingTypeID})") Modifica
            form(ng-submit="deleteThingType(thingType.thingTypeID)")
              button(class="btn btn-danger" type='submit') Elimina 
  h1(class="text-center page-header") Lista degli oggetti presenti
  div(class="row")
    div(class="col-xs-4 col-xs-offset-1")
      button(class="btn btn-success" ui-sref="root.superAdmin.addThings()") Nuovo
  div(class="row")
    div(class="col-xs-12")
      input(class="form-control" ng-model="searchThings.$" placeholder="cerca con qualsiasi valore")
  div(class="table-responsive")
    table(class="table")
      thead
        th 
          a(class="btn" ng-click="order2('thingID')") 
            strong ID 
        th 
          a(class="btn" ng-click="order2('thingTypeName')") 
            strong Nome        
        th 
          a(class="btn" ng-click="order2('serialNumber')") 
            strong Numero di serie   
        th 
          a(class="btn" ng-click="order2('description')") 
            strong Descrizione   
        th 
          a(class="btn" ng-click="order2('thingTypeId')") 
            strong Modello                    
        th 
          a(class="btn" ng-click="order2('company')") 
            strong Company          
        th Azioni        
        
      tbody
        tr(ng-repeat="thing in things |  orderBy:predicate2:reverse2 | filter:searchThings:strict track by $index ")
          td {{thing.thingID}}
          td {{thing.name}}
          td {{thing.serialNumber}}
          td {{thing.description}}
          td {{thingTypesHash[thing.thingTypeID]}}
          td {{companiesHash[thing.companyID]}}
          td 
            button(class="btn btn-warning" ui-sref="root.superAdmin.updateThing({id:thing.thingID})") Modifica
            form(ng-submit="deleteThing(thing.thingID)")
              button(class="btn btn-danger" type='submit') Elimina 
