
<section id="users">
  <ul class="breadcrumb">
    <li><a ui-sref="root.admin()">Home</a></li>
    <li><a ui-sref="root.admin.users()">Gestione Utenti</a></li>
    <li class="active">Nuovo utente</li>
  </ul>
  <div class="container-fluid">
    <div class="row ">
      <form ng-submit="addUser()" class="col-xs-6 col-xs-offset-3">
        <label for="userNameInput">Nome dell'utente            </label>
        <input type="text" id="userNameInput" ng-model="user.name" placeholder="nome" class="form-control"/><br/>
        <label for="userSurnameInput">Cognome dell'utente                    </label>
        <input type="text" id="userSurnameInput" ng-model="user.surname" placeholder="cognome" class="form-control"/><br/>
        <input type="text" ng-model="user.email" placeholder="email" class="form-control"/><br/>
        <input type="password" ng-model="user.password" placeholder="password" class="form-control"/><br/>
        <select ng-model="user.role" class="form-control">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select><br/>
        <button type="submit" class="btn btn-success">Aggiungi</button>
      </form>
    </div>
  </div>
</section>