section(id="updateNotification" class="container-fluid")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.user()") Home
    li
      a(ui-sref="root.user.notification()") Gestione Notifiche
    li(class="active") Modifica Notifica
  h1(class="text-center page-header") Modifica le impostazioni di notifica  
  div(class="row")    
    form(ng-submit="editNotification(false)" class="col-sm-6 col-sm-offset-3")
      div(ng-show="notification.isThing")
        label ID Oggetto
        p {{notification.thingID}}
      div(ng-hide="notification.isThing")
        label ID Modello Oggetto
        p {{notification.thingTypeID}}
      label Parametro
      p {{notification.inputType}}
      label(for="descrizione") Descrizione
      textarea(type="text" id="descrizione" class="form-control" ng-model="notification.notificationDescription" placeholder="descrizione" value="{{notification.notificationDescription}}")
      br
      label(for="minValue") Soglia Minima
      input(type="number" id="minValue" class="form-control" ng-model="notification.valMin" placeholder="soglia minima" value="{{notification.valMin}}")
      br
      label(for="maxValue") Soglia Massima
      input(type="number" id="maxValue" class="form-control" ng-model="notification.valMax" placeholder="soglia massima" value="{{notification.valMax}}")
      br
      button(type='submit' class="btn btn-success") Modifica
