section(id="companiesList" class="container-fluid")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.admin()") Home
    li(class="active") Gestione Engine
  h1(class="page-header text-center") Gestione Engine
  div(class="row")
    div(class="col-sm-12 text-center") 
      h2 Funzioni Disponibili 
      div(ng-repeat=" fun in info.listFunction track by $index" ng-show="ok")
        span {{fun.name}}
          input(type="checkbox" ng-model="fun.inUse") 
  form(ng-submit="send()")
    button(class="btn btn-success" type="submit") manda
