doctype html
html(ng-app="umap")
  head
    link(href='assets/style/bootstrap.min.css' rel="stylesheet")
    link(href='assets/style/angular-flash.css' rel="stylesheet")
    meta( charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header(ui-view="header" ng-cloak)
    flash-message(duration="5000")
    div(ui-view="content" ng-cloak)
    footer(ui-view="footer")
  script(src='assets/js/jquery.min.js')  
  script(src='assets/js/main.js')
  script(src='assets/js/bootstrap.min.js')
