

doctype html
html(ng-app="umap")
  head
    link(href='assets/style/bootstrap.min.css' rel="stylesheet")
  body
    header(ui-view="header")
    div(ui-view="content")
    footer(ui-view="footer")
  script(src='assets/js/jquery.min.js')  
  script(src='assets/js/main.js')
  script(src='assets/js/bootstrap.min.js')
