section(id="thingsDetails" class="container-fluid" )
  ul(class="breadcrumb")
    li
      a(ui-sref="root.admin()") Home
    li
      a(ui-sref="root.admin.things()") Gestione Oggetti
    li(class="active") Dettagli Oggetto
  h1(class="text-center page-header") Dettagli dell'oggetto
    small # {{thing.thingID}}
  h2(class="text-center") {{thing.name}}
  div(class="row")
    div(class="col-xs-12")
      input(class="form-control" ng-model="searchThingTypes.$" placeholder="cerca con qualsiasi valore")
  div(class="table-responsive")
    table(class="table")       
      thead
        th 
          a(class="btn" ng-click="order('dataTime')") 
            strong  Data rilevazione      
        th 
          a(class="btn" ng-click="order('sensor')") 
            strong  Nome parametro      
        th 
          a(class="btn" ng-click="order('value')") 
            strong Valore  
      tbody
        tr(ng-repeat="x in thing.datas |  orderBy:predicate:reverse | filter:searchThingTypes:strict track by $index ")
          td {{x.dataTime  | date:"MM/dd/yyyy"}}
          td
            p(ng-repeat=" i in x.sensors")
              span(ng-show="hashMisure[i.sensor]") {{i.sensor}} 
              br
          td
            p(ng-repeat=" i in x.sensors")
              span(ng-show="hashMisure[i.sensor]") {{i.value}} 
              br
  div.row
    div.col-sm-12.text-center
      h2 Grafici
  .row.text-center
    .col-md-6(ng-repeat="c in charts" style="margin-bottom: 100px;")
      h4 Funzione: {{c.functionName}}
      h4 Parametro: {{c.infoDataName}}
      p {{clicked[c.chartID]}}
      div(ng-hide="loadings[c.chartID]")
        canvas(id="line" class="chart chart-line" chart-data="graphics[c.chartID].data" chart-labels="graphics[c.chartID].labels" chart-legend="true" chart-series="series" chart-click="onClick")
        h3.text-center Risultato: {{graphics[c.chartID].result}}

        h4(ng-show="graphics[c.chartID].isFuture") Previsto in data: {{graphics[c.chartID].labels[graphics[c.chartID].labels.length - 1]}}
      button.btn.btn-success(ng-click="showGraphics(c.chartID)") Aggiorna grafico  
      button.btn.btn-danger(ng-click="deleteChart(c.chartID)") Elimina 

      
            
            
            
  
