section(id="users")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.superAdmin()") Home
    li
      a(ui-sref="root.superAdmin.users()") Gestione Utenti
    li(class="active") Nuovo utente
  h1(class="text-center page-header") Aggiungi un nuovo utente
  div(class="container-fluid")
    div(class="row ")
      form(ng-submit="addUser()" class="col-xs-6 col-xs-offset-3")
        label(for="userNameInput" ) Nome dell'utente            
        input(type="text" id="userNameInput" class="form-control" ng-model="user.name" placeholder="nome")
        br
        label(for="userSurnameInput" ) Cognome dell'utente                    
        input(type="text" id="userSurnameInput" class="form-control" ng-model="user.surname" placeholder="cognome")
        br
        label(for="userEmailInput" ) Email dell'utente                    
        input(type="text" id="userEmailInput" class="form-control" ng-model="user.email" placeholder="email")
        br
        label(for="userPswInput" ) Password dell'utente                    
        input(type="password" id="userPswInput" class="form-control" ng-model="user.password" placeholder="password")
        br
        label(for="userCompanyInput" ) Company dell'utente                    
        select( class="form-control" id="userCompanyInput" ng-model="user.company")
          option(ng-repeat="company in companies"  value="{{company.companyID}}") {{company.companyName}}
        br
        label(for="userRoleInput" ) Ruolo dell'utente                    
        select( class="form-control" id="userRoleInput" ng-model="user.role")
          option(value="user") User
          option(value="admin") Admin
          option(value="superAdmin") SuperAdmin
        br
        button(type='submit' class="btn btn-success") Aggiungi
