section(id="companies")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.superAdmin()") Home
    li
      a(ui-sref="root.superAdmin.companies()") Gestione Companies
    li(class="active") Nuova company
  h1(class="page-header text-center") Inserisci una nuova compagnia
  div(class="container-fluid")
    div(class="row")
      form(ng-submit="addCompany()" class="col-xs-6 col-xs-offset-3")
        label(for="companyNameInput" ) Nome della company      
        input(type="text" class="form-control" id="companyNameInput" ng-model="company.companyName" placeholder="company name")
        br
        button(type='submit' class="btn btn-success") Aggiungi
