section(id="companiesList" class="container-fluid")
  ul(class="breadcrumb")
    li
      a(ui-sref="root.superAdmin()") Home
    li(class="active") Gestione Companies
  h1(class="page-header text-center") Lista delle company presenti
  div(class="row")
    div(class="col-xs-4 col-xs-offset-1")    
      button(class="btn btn-success" ui-sref="root.superAdmin.addCompanies()") Nuova
  div(class="row")
    div(class="col-xs-12")
      input(class="form-control" ng-model="search.$" placeholder="cerca con qualsiasi valore")
  div(class="table-responsive")
    table(class="table")
      thead
        th 
          a(class="btn" ng-click="order('companyID')") 
            strong Id Company
        th 
          a(class="btn" ng-click="order('companyName')") 
            strong Nome
        th Azioni
      tbody
        tr(ng-repeat="company in companies | orderBy:predicate:reverse | filter:search:strict")
          td {{company.companyID}}
          td {{company.companyName}}
          td
            button(class="btn btn-warning" ui-sref="root.superAdmin.updateCompany({id:company.companyID})") Modifica
            form(ng-submit="deleteCompany(company.companyID)")
              button(class="btn btn-danger" type='submit') Elimina 
