section(id="adminHome" class="container-fluid")
  ul(class="breadcrumb")
    li(class="active") Home
  h1(class="page-header text-center") Home page Admin
  div(class="row text-center")
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.admin.users()") Gestione Utenti
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.admin.thingTypes()") Gestione Modelli Oggetti
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.admin.things()") Gestione Oggetti
    div(class="col-sm-6")
      h2 
        a(ui-sref="root.admin.analisi()") Analisi Predittiva
